* {
  box-sizing: border-box;
}

html {
  /* Stick the footer with a dynamic height to the bottom of a page */
  height: 100%;
  font-size: 16px;
}

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  color: #434440;
}

body {
  /* Stick the footer with a dynamic height to the bottom of a page */
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100%;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 20px auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
  color: #0d95de;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='search']::-ms-clear,
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

input,
textarea {
  border: none;
  outline: none;
  background: none;
}

textarea {
  resize: vertical;
}

label {
  cursor: pointer;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

blockquote {
  margin: 0;
}

figure {
  margin: 0;
}

footer {
  width: 100%;
  /* Stick the footer with a dynamic height to the bottom of a page */
  margin-top: auto;
}

/*  Fix IE11 display:flex on the body */
header,
main,
section,
footer {
  flex-shrink: 0;
}
